@charset "UTF-8";
/*!
 * The styles for INIT's website
 *
 * @author Hans Christian Reinl
 * @version	v0.1.0
 *
 */
/**
 * Variables to be used throughout the project
 */
/*! sass-mixins - v0.8.0 - 2014-03-06 */
                                       /**
* @description
* Generates keyframe animations
*
* @author drublic
*
* @link caniuse http://caniuse.com/#feat=css-animation
* @link spec http://www.w3.org/TR/css3-animations/
*
* @param values
* @returns
*   -webkit-animation: <values>;
*           animation: <values>;
*
* @example
*   .selector {
*     @include x-animation(jump 1s ease-out);
*   }
*/
/*
 * @example
 *    @include x-keyframes(jump) {
 *      from { top: 0; }
 *      to { top: -10px; }
 *   }
 */
/**
 * @description
 * Generates `appearance` for a given element
 *
 * @author romamatusevich
 *
 * @link MDN https://developer.mozilla.org/en-US/docs/Web/CSS/-moz-appearance
 * @link css-tricks http://css-tricks.com/almanac/properties/a/appearance/
 * @link spec http://www.w3.org/TR/2004/CR-css3-ui-20040511/#appearance
 *
 * @param value
 * @returns
 *   -webkit-appearance: <value>;
 *      -moz-appearance: <value>;
 *           appearance: <value>;
 *
 * @example
 *   .selector {
 *     @include x-appearance(button);
 *   }
 */
/**
 * @description
 * Generates cross-browser-compatible `border-radius` for a given element
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/border-radius
 * @link spec http://www.w3.org/TR/css3-background/#corners
 *
 * @param values
 * @returns
 *   -webkit-border-radius: <values>;
 *           border-radius: <values>;
 *
 * @example
 *   .selector {
 *     @include x-border-radius(20px 10px);
 *   }
 */
/**
 * @description
 * Generates cross-browser-compatible `box-shadow` for a given element
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/css-boxshadow
 * @link spec http://www.w3.org/TR/css3-background/#the-box-shadow
 *
 * @param values
 * @returns
 *   -webkit-box-shadow: <values>;
 *           box-shadow: <values>;
 *
 * @example
 *   .selector {
 *     @include x-box-shadow(5px 5px 10px 5px #aaa);
 *   }
 */
/**
 * @description
 * Generates cross-browser-compatible `box-sizing` output for a given element.
 *
 * @author drublic
 *
 * @link caniuse
 * @link spec
 *
 * @param type
 * @returns
 *   -webkit-box-sizing: <type>;
 *      -moz-box-sizing: <type>;
 *           box-sizing: <type>;
 *
 * @example
 *   .selector {
 *     @include x-box-sizing;
 *   }
 */
/**
 * @description
 * These mixins generates Media Queries
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/#feat=css-mediaqueries
 * @link spec http://www.w3.org/TR/css3-mediaqueries/
 *
 * Note: Please use the CSS unit `em` for device-width in order to stay
 * responsive.
 */
/**
 * @param device-width {number}
 * @content
 * @returns
 *   @media screen and (min-width: <device-width>) {
 *      <content>
 *   }
 *
 * @example
 *   .selector {
 *     x-at-least(40em) { width: 60%; }
 *   }
 */
/**
 * @param device-width {number}
 * @content
 * @returns
 *   @media screen and (max-width: <device-width - 0.01>) {
 *      <content>
 *   }
 *
 * @example
 *   .selector {
 *     x-until(40em) { width: 100%; }
 *   }
 */
/**
 * @author romamatusevich
 *
 * @param point{string}, bp-mobile-width{number}, bp-tablet-width{number} 
 * @content
 * @returns
 *   @media (max-width: <bp-mobile-width>) {
 *      <content>
 *   }
 *
 * @example
 *   .selector {
 *     x-breakpoints(mobile,  320px) { width: 100%; }
 *   }
 */
/**
 * @description
 * Generates a linear gradient for a given element with a fallback color.
 *
 * @author drublic
 *
 * @link caniuse
 * @link spec
 *
 * @dependency helper-gradient-angle
 * @param direction {'to bottom'|'to right'|'to top'|'to left'|<degree>}
 * @param fallback {color}
 * @param from {color}
 * @param to {color}
 * @default 'to bottom', #ccc, #ccc, #aaa
 *
 * @returns
 *   background-color: <fallback>;
 *   background-image: -webkit-gradient(linear, <direction - old converted>, from(<from>), to(<to>));
 *   background-image: -webkit-linear-gradient(<direction - converted>, <from>, <to>);
 *   background-image:         linear-gradient(<direction>, <from>, <to>);
 *
 * @example
 *   .selector {
 *     @include x-linear-gradient("to bottom", #ccc, #ddd, #bbb);
 *   }
 *
 * Note: By default this linear-gradient-mixin encourages people to use the
 * latest CSS-syntax for gradients.
 */
/**
 * @description
 * This mixin generates multiple backgrounds
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/css-gradients
 * @link spec http://www.w3.org/TR/2011/WD-css3-images-20110217/#linear-gradients
 */
/*
 * A function for prefixing gradients
 *
 * @param mode {'webkit-old'|'webkit'|''}
 * @param gradient
 * @returns
 *   -<mode>-linear-gradient(<gradient>);
 */
/*
 * Generates multiple backgrounds
 *
 * @param backgrounds {list}
 *
 * @example
 *   .selector {
 *     @include x-multiple-backgrounds(
 *       rgba(0, 0, 0, 0.3),
 *       url('../img/html5_logo.png') top right no-repeat,
 *       (linear-gradient, to bottom, #aaa, #ddd)
 *     );
 *   }
 */
/**
 * @description
 * This mixin creates (endless) multiple color stops in gradients just with one
 * call for the mixin.
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/css-gradients
 * @link spec http://www.w3.org/TR/2011/WD-css3-images-20110217/#linear-gradients
 *
 * @param stops {list}
 * @returns
 *   background-image: -webkit-linear-gradient(top, <stops[1]>, <stops[2]>, ..., <stops[n]>);
 *   background-image:         linear-gradient(to bottom, <stops[1]>, <stops[2]>, ..., <stops[n]>);
 *
 * @example
 *   .selector {
 *     @include x-multiple-colored-gradient((
 *         "top",
 *         #f22 0%,
 *         #f2f 15%,
 *         #22f 30%,
 *         #2ff 45%,
 *         #2f2 60%,
 *         #2f2 75%,
 *         #ff2 90%,
 *         #f22 100%
 *     ));
 *   }
 *
 * Note: This mixis does not define a fallback-color for your background as it
 * is likely you want to add an image or something. Please specify one by
 * yourself.
 */
/**
 * @description
 * Generates `opacity` output for a given element and adds a filter for old IE.
 *
 * @author bartveneman
 *
 * @link caniuse http://caniuse.com/css-opacity
 * @link spec http://www.w3.org/TR/css3-color/#transparency
 *
 * @param value
 * @returns
 *   opacity: <value>;
 *    filter: alpha(opacity=<value * 100>);
 *
 * @example
 *   .selector {
 *     @include x-opacity(0.3);
 *   }
 */
/**
 * @description
 * Generates `placeholder` content for a given element
 *
 * @author romamatusevich
 *
 * @link MDN https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-placeholder
 * @link css-tricks http://css-tricks.com/snippets/css/style-placeholder-text/
 *
 * @returns
 *    &::-webkit-input-placeholder {
 *        <content property 1>: <content value 1>;
 *        ...
 *        <content property n>: <content value n>;
 *    }
 *    &::-moz-placeholder {
 *        <content property 1>: <content value 1>;
 *        ...
 *        <content property n>: <content value n>;
 *    }
 *    &:-ms-input-placeholder {
 *        <content property 1>: <content value 1>;
 *        ...
 *        <content property n>: <content value n>;
 *    }
 *
 * @example
 *   .selector {
 *     @include x-placeholder {
 *         color: #bada55;
 *         font-weight: bold;
 *     }
 *   }
 */
/**
 * @description
 * This mixin will enable using the CSS3 value `rem`, which lets you define
 * property-sizes based on the root-element's font-size.
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/rem
 * @link spec http://www.w3.org/TR/css3-values/#relative0
 *
 * @param property
 * @param values
 * @param default-font-size int optional
 * @returns
 *   <property>: (<value> * <default-font-size>)px;
 *   <property>: <value>;
 *
 * @example
 *   .selector {
 *     @include x-rem(font-size, 1.3);
 *   }
 *
 * Note: Depending on the font-size of the root-element `rem` calculates a
 * property of a current element. The fallback solution excepts a
 * `default-font-size`-argument which is 16px by default.
 */
/**
 * @description
 * Sass-mixin for CSS property `tab-size`, generates cross-browser-compatible
 * `tab-size` output.
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/css3-tabsize
 * @link spec http://dev.w3.org/csswg/css-text/#tab-size1
 *
 * @param value int optional
 * @default 4
 * @returns
 *   -moz-tab-size: <value>;
 *        tab-size: <value>;
 *
 * @example
 *   .selector {
 *     @include x-tab-size(4);
 *    }
 */
/**
 * @description
 * Generates cross-browser-compatible `transform` for a given element
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/transforms2d http://caniuse.com/transforms3d
 * @link spec
 *
 * @param values
 * @returns
 *   -webkit-transform: <values>;
 *       -ms-transform: <values>;
 *           transform: <values>;
 *
 * @example
 *   .selector {
 *     @include x-transform(rotate(1deg));
 *   }
 */
/**
 * @description
 * Generates cross-browser-compatible `transition` output for a given element.
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/css-transitions
 * @link spec
 *
 * @param values
 * @returns
 *   -webkit-transition: <values>;
 *           transition: <values>;
 *
 * @example
 *   .selector {
 *     @include x-transition(background 0.3s ease-in);
 *   }
 */
/**
 * @description
 * Disables selection of content of a given element
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/user-select-none
 *
 * @param value none|auto optional
 * @default none
 * @returns
 *   -webkit-user-select: <value>;
 *      -moz-user-select: <value>;
 *       -ms-user-select: <value>;
 *           user-select: <value>;
 *
 * @example
 *   .selector {
 *     @include x-user-select;
 *   }
 */
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *  (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.site-navigation .site-logo > a, .download-github .icon-github {
  background-color: transparent;
  border: 0;
  overflow: hidden;
}
.site-navigation .site-logo > a:before, .download-github .icon-github:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable {
  background: #272729;
  color: #fff;
  text-decoration: none;
}
.visuallyhidden.focusable:visited {
  color: #fff;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  padding: 16px;
  padding: 1rem;
  left: 32px;
  left: 2rem;
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  top: 0;
  width: auto;
  z-index: 30;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * Placeholder to center content
 */
.container, .why, .starting, .extend, .credits, .license, .build-upon {
  padding: 16px 32px;
  padding: 1rem 2rem;
  max-width: 800px;
  max-width: 50rem;
  margin: 0 auto;
}

/*
 * Button
 */
.download-link {
  display: inline-block;
  padding: 0.5em 1em;
  background: #0084c0;
  border-radius: 0.25em;
  color: #fff;
  text-decoration: none;
}
.download-link:visited {
  color: #fff;
}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

sup > a {
  text-decoration: none;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*
 * Links
 */
a {
  color: #0084c0;
}
a:visited {
  color: #0084c0;
}

/**
 * All styles related to markup inside the header
 */
.site-header {
  position: relative;
  overflow: hidden;
}
.site-header:after {
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 39, 41, 0)), to(rgba(39, 39, 41, 0.3)));
  background-image: -webkit-linear-gradient(top, rgba(39, 39, 41, 0), rgba(39, 39, 41, 0.3));
  background-image: linear-gradient(to bottom, rgba(39, 39, 41, 0), rgba(39, 39, 41, 0.3));
  height: 64px;
  height: 4rem;
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

/*
 * Hero Unit
 */
.hero {
  min-height: 480px;
  min-height: 30rem;
  margin-top: 104px;
  margin-top: 6.5rem;
  position: relative;
  text-align: center;
  background: white url(../img/canada.jpg) 50% 50%;
  background-size: 100% auto;
}
@media screen and (max-width: 48em) {
  .hero {
    min-height: 22rem;
    margin-top: 0;
    background-size: cover;
  }
}

/**
 * Claim
 */
.claim {
  max-width: 800px;
  max-width: 50rem;
  padding: 144px 32px;
  padding: 9rem 2rem;
  font-size: 36.8px;
  font-size: 2.3rem;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}
@media (max-width: 42em) {
  .claim {
    font-size: 1.25rem;
  }
}
@media (max-width: 21em) {
  .claim {
    font-size: 1rem;
  }
}

.hero-credits {
  right: 16px;
  right: 1rem;
  font-size: 12.8px;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  color: #ddd;
  opacity: 0.6;
}
.hero-credits:hover {
  opacity: 1;
}
.hero-credits a {
  color: #ddd;
}
.hero-credits a:visited {
  color: #ddd;
}

/*
 * Navigation
 */
.site-navigation {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 32px;
  padding: 0 2rem;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background: #272729;
  /*
   * The logo
   */
}
.site-navigation > ul {
  max-width: 832px;
  max-width: 52rem;
  padding: 0 32px;
  padding: 0 2rem;
  list-style: none;
  margin: 0 auto;
}
.site-navigation li {
  display: inline-block;
}
.site-navigation a {
  -webkit-transition: padding 0.2s;
  transition: padding 0.2s;
  padding: 46.4px 16px 36.8px;
  padding: 2.9rem 1rem 2.3rem;
  display: block;
  color: #fff;
  text-decoration: none;
}
.site-navigation a:visited {
  color: #fff;
}
.site-navigation .site-logo {
  float: left;
}
.site-navigation .site-logo > a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 144px;
  width: 9rem;
  height: 86.4px;
  height: 5.4rem;
  margin: 8px 32px 8px 8px;
  margin: 0.5rem 2rem 0.5rem 0.5rem;
  display: block;
  padding: 0;
  background: url(../img/logo.svg) no-repeat 0 0;
  background-size: 100% 100%;
}
.no-svg .site-navigation .site-logo > a {
  background: url(../img/logo.png) no-repeat;
}
.site-navigation .navigation-close {
  display: none;
}
@media screen and (max-width: 44em) {
  .site-navigation {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -moz-transform 0.3s;
    transition: -ms-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    top: 0;
    left: 0;
    bottom: 0;
    width: 60%;
    padding: 1rem 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .site-navigation:target {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .site-navigation:target ~ .hero {
    margin-top: 0;
  }
  .site-navigation:target .navigation-close {
    left: 100%;
  }
  .site-navigation:target ~ .navigation-open {
    display: none;
  }
  .site-navigation.is-active {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .site-navigation.is-active ~ .hero {
    margin-top: 0;
  }
  .site-navigation.is-active .navigation-close {
    left: 100%;
  }
  .site-navigation.is-active ~ .navigation-open {
    display: none;
  }
  .site-navigation > ul {
    padding: 0;
  }
  .site-navigation li {
    display: block;
  }
  .site-navigation a {
    padding: 16px;
    padding: 1rem;
  }
  .site-navigation .site-logo {
    float: none;
  }
  .site-navigation .navigation-close {
    display: block;
    position: fixed;
    left: 0;
    z-index: 20;
    top: 0;
    background: #272729;
    padding: 1rem;
  }
}

.is-small .site-logo > a {
  width: 96px;
  width: 6rem;
  height: 52.8px;
  height: 3.3rem;
  margin-left: 16px;
  margin-left: 1rem;
}
.is-small a {
  padding: 25.6px 16px 22.4px;
  padding: 1.6rem 1rem 1.4rem;
}
@media screen and (max-width: 44em) {
  .is-small .site-logo > a {
    width: 144px;
    width: 9rem;
    height: 86.4px;
    height: 5.4rem;
    margin: 8px 32px 8px 8px;
    margin: 0.5rem 2rem 0.5rem 0.5rem;
  }
  .is-small a {
    padding: 16px;
    padding: 1rem;
  }
}

/**
 * Open the navigation
 */
.navigation-open {
  left: 32px;
  left: 2rem;
  padding: 16px;
  padding: 1rem;
  display: none;
  position: fixed;
  z-index: 20;
  top: 0;
  background: #272729;
  color: #fff;
  text-decoration: none;
}
.navigation-open:visited {
  color: #fff;
}
@media screen and (max-width: 44em) {
  .navigation-open {
    display: block;
    left: 0;
  }
}

/**
 * All styles related to markup inside the main element
 */
/*
 * Download
 */
.download {
  padding-top: 24px;
  padding-top: 1.5rem;
  position: relative;
  background: #e0e7f0;
  border-top: 1px solid rgba(170, 170, 170, 0.3);
  box-shadow: inset 0 1px 2px #fff;
  text-align: center;
}

.download-link {
  font-size: 25.6px;
  font-size: 1.6rem;
}

.download-changelog {
  padding: 8px;
  padding: 0.5rem;
  font-size: 12.8px;
  font-size: 0.8rem;
  display: inline-block;
}

.download-github {
  padding: 8px;
  padding: 0.5rem;
  margin: 0;
}
.download-github .icon-github {
  width: 32px;
  width: 2rem;
  height: 32px;
  height: 2rem;
  margin-right: 8px;
  margin-right: 0.5rem;
  margin-bottom: -8px;
  margin-bottom: -0.5rem;
  display: inline-block;
  background: url(../img/github.svg) no-repeat;
  background-size: contain;
}
.no-svg .download-github .icon-github {
  background: url(../img/github.png) no-repeat;
}

/*
 * Code Styles
 */
pre {
  padding: 8px;
  padding: 0.5rem;
  background: #eeeeee;
}

code {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

/*
 * Why Init
 */
.why {
  border-top: 1px solid rgba(170, 170, 170, 0.3);
  box-shadow: inset 0 1px 2px #fff;
}

/*
 * Getting Started
 */
.starting {
  /* Fix Hash-link position due to fixed header */
  padding-top: 104px;
  padding-top: 6.5rem;
  margin-top: -104px;
  margin-top: -6.5rem;
}

/*
 * Extend
 */
/*
 * Credits
 */
/*
 * License
 */
/*
 * Build upon
 */
.build-upon ul {
  font-size: 20.8px;
  font-size: 1.3rem;
  list-style: none;
  margin: 0 -1%;
  padding: 0;
  overflow: hidden;
  text-align: center;
}
.build-upon li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 33%;
  padding: 0 1%;
}
.build-upon img {
  margin: 0 auto 16px;
  margin: 0 auto 1rem;
  display: block;
  max-width: 100%;
}
.build-upon a {
  display: block;
  text-decoration: none;
}
@media all and (max-width: 40em) {
  .build-upon li {
    width: 100%;
    margin-bottom: 1rem;
  }
}

/**
 * All styles related to markup inside the footer
 */
.site-footer {
  font-size: 12.8px;
  font-size: 0.8rem;
  background: #272729;
  color: #fff;
  text-align: center;
}
.site-footer a {
  text-decoration: none;
}
.site-footer a:hover {
  text-decoration: underline;
}

/*
 * List of maintainers in footer
 */
.maintainers {
  list-style: none;
  padding: 0;
  margin: 0;
}
.maintainers > li {
  margin: 0 16px;
  margin: 0 1rem;
  display: inline-block;
}
.maintainers a {
  margin: 8px 0;
  margin: 0.5rem 0;
  display: block;
}
.maintainers img {
  width: 73px;
  height: 73px;
  border-radius: 50%;
}
