/*!
 * The styles for INIT's website
 *
 * @author Hans Christian Reinl
 * @version	v0.1.0
 *
 */

// Helpers
@import 'helpers/variables';
@import '../components/sass-mixins/mixins';
@import '../components/normalize-scss/normalize';
@import 'helpers/helpers';

// Layout
@import 'layout/base';
@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';

// Print Stylesheets
@media print {
	@import 'media/print';
}
