/**
 * All styles related to markup inside the header
 */
.site-header {
	position: relative;
	overflow: hidden;

	&:after {
		@include x-linear-gradient('to bottom', transparent, rgba(#272729, 0), rgba(#272729, 0.3));
		@include x-rem(height, 4);

		content: '';
		position: absolute;
		right: 0;
		left: 0;
		bottom: 0;
	}
}

/*
 * Hero Unit
 */
.hero {
	@include x-rem(min-height, 30);
	@include x-rem(margin-top, 6.5);

	position: relative;
	text-align: center;

	background: #fff url(../img/canada.jpg) 50% 50%;
	background-size: 100% auto;

	@media screen and (max-width: 48em) {
		min-height: 22rem;
		margin-top: 0;
		background-size: cover;
	}
}

/**
 * Claim
 */
.claim {
	@include x-rem(max-width, 50);
	@include x-rem(padding, 9 2);
	@include x-rem(font-size, 2.3);

	margin: 0 auto;
	color: #fff;
	text-align: center;

	@media (max-width: 42em) {
		font-size: 1.25rem;
	}

	@media (max-width: 21em) {
		font-size: 1rem;
	}
}

.hero-credits {
	@include x-rem(right, 1);
	@include x-rem(font-size, 0.8);

	position: absolute;
	bottom: 0;
	color: #ddd;
	opacity: 0.6;

	&:hover {
		opacity: 1;
	}

	a {
		color: #ddd;

		&:visited {
			color: #ddd;
		}
	}
}

/*
 * Navigation
 */
.site-navigation {
	@include x-box-sizing;
	@include x-rem(padding, 0 2);
	@include x-box-shadow(0 0 3px rgba(0, 0, 0, 0.4));

	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	background: #272729;

	> ul {
		@include x-rem(max-width, 52);
		@include x-rem(padding, 0 2);

		list-style: none;
		margin: 0 auto;
	}

	li {
		display: inline-block;
	}

	a {
		@include x-transition(padding 0.2s);
		@include x-rem(padding, 2.9 1 2.3);

		display: block;
		color: #fff;
		text-decoration: none;

		&:visited {
			color: #fff;
		}
	}

	/*
	 * The logo
	 */
	.site-logo {
		float: left;

		> a {
			@extend %ir;
			@include x-transition(all 0.2s);
			@include x-rem(width, 9);
			@include x-rem(height, 5.4);
			@include x-rem(margin, 0.5 2 0.5 0.5);

			display: block;
			padding: 0;

			background: url(../img/logo.svg) no-repeat 0 0;
			background-size: 100% 100%;

			.no-svg & {
				background: url(../img/logo.png) no-repeat;
			}
		}
	}

	.navigation-close {
		display: none;
	}

	@media screen and (max-width: 44em) {
		-webkit-transition: -webkit-transform 0.3s;
		transition: -moz-transform 0.3s;
		transition:  -ms-transform 0.3s;
		transition:      transform 0.3s;

		// Hide initially
		-webkit-transform: translate(-100%, 0);
		   -moz-transform: translate(-100%, 0);
		    -ms-transform: translate(-100%, 0);
		        transform: translate(-100%, 0);
		-webkit-transform: translate3d(-100%, 0, 0); // iOS
		        transform: translate3d(-100%, 0, 0);

		top: 0;
		left: 0;
		bottom: 0;
		width: 60%;
		padding: 1rem 0;

		// Layer promotion
		-webkit-backface-visibility: hidden;
		        backface-visibility: hidden;

		&:target {

			// Show
			-webkit-transform: translate(0, 0);
			   -moz-transform: translate(0, 0);
			    -ms-transform: translate(0, 0);
			        transform: translate(0, 0);
			-webkit-transform: translate3d(0, 0, 0); // iOS
			        transform: translate3d(0, 0, 0);

			~ .hero {
				margin-top: 0;
			}

			.navigation-close {
				left: 100%;
			}

			~ .navigation-open {
				display: none;
			}
		}

		&.is-active {

			// Show
			-webkit-transform: translate(0, 0);
			   -moz-transform: translate(0, 0);
			    -ms-transform: translate(0, 0);
			        transform: translate(0, 0);
			-webkit-transform: translate3d(0, 0, 0); // iOS
			        transform: translate3d(0, 0, 0);


			~ .hero {
				margin-top: 0;
			}

			.navigation-close {
				left: 100%;
			}

			~ .navigation-open {
				display: none;
			}
		}

		> ul {
			padding: 0;
		}

		li {
			display: block;
		}

		a {
			@include x-rem(padding, 1);
		}

		.site-logo {
			float: none;
		}

		.navigation-close {
			display: block;
			position: fixed;
			left: 0;
			z-index: 20;
			top: 0;
			background: #272729;
			padding: 1rem;
		}
	}
}

.is-small {
	.site-logo {
		> a {
			@include x-rem(width, 6);
			@include x-rem(height, 3.3);
			@include x-rem(margin-left, 1);
		}
	}

	a {
		@include x-rem(padding, 1.6 1 1.4);
	}

	@media screen and (max-width: 44em) {
		.site-logo {
			> a {
				@include x-rem(width, 9);
				@include x-rem(height, 5.4);
				@include x-rem(margin, 0.5 2 0.5 0.5);
			}
		}

		a {
			@include x-rem(padding, 1);
		}
	}
}

/**
 * Open the navigation
 */
.navigation-open {
	@include x-rem(left, 2);
	@include x-rem(padding, 1);

	display: none;
	position: fixed;
	z-index: 20;
	top: 0;
	background: #272729;
	color: #fff;
	text-decoration: none;

	&:visited {
		color: #fff;
	}

	@media screen and (max-width: 44em) {
		display: block;
		left: 0;
	}
}
