/**
 * All styles related to markup inside the main element
 */
.container {
	@extend %center-content;
}

.site-content {
	@include x-rem(margin-top, 6.4);

	@media (max-width: 35em) {
		@include x-rem(margin-top, 14.2);
	}
}


/*
 * Hero Unit
 */
.hero {
	@include x-rem(min-height, 15); // So that text is not running outside the box on mobile

	background-color: #0084C0;
	background-image: url(../img/background-solid.svg);
	background-position: center;
	background-size: 60%;

	@media (max-width: 18em) {
		@include x-rem(min-height, 11);
	}

	.container {
		@extend %center-content;

		position: relative;

		&:before {
			content: '';
			display: block;
			width: 0;
			padding-top: 56.25%;
		}

		> * {
			position: absolute;
			top: 0;
			left: 0;
		}

		> p {
			@include x-rem(font-size, 2);
			@include x-rem(margin, 9 2.5 0 2);
			@include x-rem(padding, 1);

			text-align: center;
			color: $main-inverted;

			> a {
				color: $main-inverted;
			}

			@media (max-width: 42em) {
				@include x-rem(font-size, 1.25);
				@include x-rem(margin, 3 2 0 2.5);
			}

			@media (max-width: 18em) {
				@include x-rem(font-size, 1);
				@include x-rem(margin, 2 2 0 2.5);
			}
		}
	}
}

/*
 * Download
 */
.download {
	background: #e0e7f0;
	border-top: 1px solid rgba($accent, 0.3);
	box-shadow: inset 0 1px 2px #fff;
	text-align: center;
}

.download-link {
	@extend %button;
	@include x-rem(font-size, 1.6);
}

.download-changelog {
	@include x-rem(padding, 0.5);
	@include x-rem(font-size, 0.8);

	display: inline-block;
}

.download-github {
	@include x-rem(padding, 0.5);

	margin: 0;

	.icon-github {
		@extend %ir;

		@include x-rem(width, 2);
		@include x-rem(height, 2);
		@include x-rem(margin-right, 0.5);
		@include x-rem(margin-bottom, -0.5);

		display: inline-block;
		background: url(../img/github.svg) no-repeat;
		background-size: contain;
	}
}

/*
 * Code Styles
 */

pre {
	@include x-rem(padding, 0.5);
	background: $code-bg;
}

code {
	word-wrap: break-word;
	word-break: break-word;
	overflow-wrap: break-word;
}

/*
 * Why Init
 */
.why {
	@extend %center-content;
}

/*
 * Getting Started
 */
.starting {
	@extend %center-content;
}

/*
 * Credits
 */
.credits {
	@extend %center-content;
}

/*
 * License
 */
.license {
	@extend %center-content;
}

