/**
 * All styles related to markup inside the main element
 */
.container {
	@extend %center-content;
}

/**
 * Claim
 */
.claim {
	@include x-rem(font-size, 2);
	@include x-rem(padding, 1);

	position: relative;
	text-align: center;
	background: #fff;
	border-top: 1px solid rgba(#aaa, 0.3);
	box-shadow: inset 0 1px 2px #fff;

	> p {
		@extend %center-content;
	}

	@media (max-width: 42em) {
		font-size: 1.25rem;
	}

	@media (max-width: 21em) {
		font-size: 1rem;
	}
}

/*
 * Download
 */
.download {
	@include x-rem(padding-top, 1.5);

	position: relative;

	background: #e0e7f0;
	border-top: 1px solid rgba(#aaa, 0.3);
	box-shadow: inset 0 1px 2px #fff;
	text-align: center;
}

.download-link {
	@extend %button;
	@include x-rem(font-size, 1.6);
}

.download-changelog {
	@include x-rem(padding, 0.5);
	@include x-rem(font-size, 0.8);

	display: inline-block;
}

.download-github {
	@include x-rem(padding, 0.5);

	margin: 0;

	.icon-github {
		@extend %ir;

		@include x-rem(width, 2);
		@include x-rem(height, 2);
		@include x-rem(margin-right, 0.5);
		@include x-rem(margin-bottom, -0.5);

		display: inline-block;
		background: url(../img/github.svg) no-repeat;
		background-size: contain;

		.no-svg & {
			background: url(../img/github.png) no-repeat;
		}
	}
}

/*
 * Code Styles
 */

pre {
	@include x-rem(padding, 0.5);
	background: $code-bg;
}

code {
	word-wrap: break-word;
	word-break: break-word;
	overflow-wrap: break-word;
}

/*
 * Why Init
 */
.why {
	@extend %center-content;

	border-top: 1px solid rgba(#aaa, 0.3);
	box-shadow: inset 0 1px 2px #fff;
}

/*
 * Getting Started
 */
.starting {
	@extend %center-content;

	/* Fix Hash-link position due to fixed header */
	@include x-rem(padding-top, 6.5);
	@include x-rem(margin-top, -6.5);
}

/*
 * Extend
 */

.extend {
	@extend %center-content;
}

/*
 * Credits
 */
.credits {
	@extend %center-content;
}

/*
 * License
 */
.license {
	@extend %center-content;
}

/*
 * Build upon
 */
.build-upon {
	@extend %center-content;

	ul {
		@include x-rem(font-size, 1.3);

		list-style: none;
		margin: 0 -1%;
		padding: 0;
		overflow: hidden;
		text-align: center;
	}

	li {
		@include x-box-sizing;

		float: left;
		width: 33%;
		padding: 0 1%;
	}

	img {
		@include x-rem(margin, 0 auto 1);

		display: block;
		max-width: 100%;
	}

	a {
		display: block;
		text-decoration: none;
	}

	@media all and (max-width: 40em) {
		li {
			width: 100%;
			margin-bottom: 1rem
		}
	}
}
