/**
 * Variables to be used throughout the project
 */

// Fonts
$font-main: sans-serif;
$font-key: $font-main;

// <hr> color
$hr-color: #ccc;

// Text selection background color
$selection-color: #b3d4fc;

// Text Color
$main-color: #222;
$main-inverted: #fff;

// Accent color
$accent: #0084C0;
$accent-light: #6cb8db;

// Code Style Colors
$code-bg: #eee;
